<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span{
            color: blue;
        }
    </style>
</head>
<body>
 <table border="2">
<h1>Marksheet</h1>
<tr>
    <td  colspan="4"align="center" style="color: crimson;font-size: larger;"></td>
</tr>
<tr>
    <td rowspan="2" style="color: blueviolet;background-color: darkmagenta;">sr.no</td>
    <td rowspan="2" style="color: aqua;background-color: black;">subject</td>
    <td colspan="2" style="color: chocolate;background-color: cornflowerblue;">marks</td>
</tr>
<tr>
    <td style="color: gold;background-color: aqua;">internal</td>
    <td style="color: chartreuse;background-color: black;">External</td>
</tr>
<tr>
    <td>1</td>
    <td>DCC</td>
    <td>28</td>
    <td>29</td>
</tr>
<tr>
    <td>2</td>
    <td>SEN</td>
    <td>27</td>
    <td>27</td>
</tr>
<tr>
    <td>3</td>
    <td>JAVA</td>
    <td>28</td>
    <td>27</td>
</tr>
<tr>
    <td>4</td>
    <td>MIC</td>
        <td>25</td>
        <td>28</td>
</tr>
 </table>   
</body>
</html> 