<html>
    <body>
        <div>
       <h1>
        Doremon
    </h1>
       <img src="../punam/doremon.png" alt="new img">
     <img src="../punam/doremon.png" alt="new img">
     <img src="../punam/doremon.png" alt="new img">
     <br>
     <div>
        <span>text input</span>
        <input type="text">
        </div>
        <br>
        <div>
        <span>file input</span>
        <input type="text">
     </div>
     <br>
     <div>
     <span>checkbox input</span>
     <input type="checkbox">
     </div>
     <br>
     <div>
     <span>radiobutton input</span>
     <input type="radiobutton">
     </div>
     <br>
     <div>
     <span> Date input</span>
     <input type="date">
     </div>
     <br>
     <div>
        <span>Colour input</span>
        <input type="color">
     </div>
     <h1>Login form</h1>
    </body>
</html>